// SPDX-License-Identifier: GPL-2.0-only
/*
 *  Copyright (C) 2012 Marvell Technology Group Ltd.
 *  Author: Haojian Zhuang <haojian.zhuang@marvell.com>
 */

/dts-v1/;
#include "pxa168.dtsi"

/ {
	model = "Chumby Industries Chumby 8";
	compatible = "chumby,chumby8", "mrvl,pxa168";

	chosen {
		bootargs = "console=ttyS0,115200 root=/dev/nfs nfsroot=192.168.1.100:/nfsroot/ ip=192.168.1.101:192.168.1.100::255.255.255.0::eth0:on";
		stdout-path = &uart1;
	};

	memory {
		reg = <0x00000000 0x08000000>; /* 128 MB */
	};

	soc {
		u-boot,dm-pre-proper;

		apb@d4000000 {
			u-boot,dm-pre-proper;
		};
	};

	backlight: backlight {
		compatible = "gpio-backlight";
		gpios = <&gpio 84 GPIO_ACTIVE_HIGH>;
		default-on;
		status = "okay";
	};

	panel: panel {
		compatible = "simple-panel";
		backlight = <&backlight>;
		status = "okay";
	};
};

&uart1 {
	u-boot,dm-pre-proper;
	status = "okay";
};

&uart3 {
	status = "okay";
};

&gpio {
	/* Copied from Chumby old u-boot; this makes sure UART1 input works properly by
	 * setting SPINOR_MODE low, which allows RXD to pass through the level shifter
	 * U103 properly. The pin is labeled as !OE, so mark it as active low in the DT.
	 * This means that "output-high" will actually assert !OE (pin output value = 0)
	 */
	console_rxd_enable {
		gpio-hog;
		gpios = <109 GPIO_ACTIVE_LOW>;
		output-high;
		line-name = "rxd-level-shifter-enable";
	};
};

&sdhci3 {
	non-removable;
	no-1-8-v;
	bus-width = <4>;
	max-frequency = <24000000>;
	cap-sd-highspeed;
	status = "okay";
};

&lcd0 {
	status = "okay";
	u-boot,dm-pre-proper;

	display-timings {
		native-mode = <&timing0>;
		timing0: panel0 {
			hactive = <800>;
			vactive = <600>;
			hfront-porch = <40>;
			hsync-len = <128>;
			hback-porch = <215>;
			vfront-porch = <14>;
			vsync-len = <4>;
			vback-porch = <34>;
			clock-frequency = <44571429>;
		};
	};
};

/*&twsi1 {
	status = "okay";
};

&rtc {
	status = "okay";
};*/
