// SPDX-License-Identifier: GPL-2.0-only
/*
 *  Copyright (C) 2012 Marvell Technology Group Ltd.
 *  Author: Haojian Zhuang <haojian.zhuang@marvell.com>
 */

/dts-v1/;
#include "pxa168.dtsi"

/ {
	model = "Chumby Industries Chumby 8";
	compatible = "chumby,chumby8", "mrvl,pxa168";

	chosen {
		bootargs = "console=ttyS0,115200 root=/dev/nfs nfsroot=192.168.1.100:/nfsroot/ ip=192.168.1.101:192.168.1.100::255.255.255.0::eth0:on";
		stdout-path = &uart1;
	};

	memory {
		reg = <0x00000000 0x08000000>; /* 128 MB */
	};
};

&uart1 {
	u-boot,dm-spl;
	status = "okay";
};

&gpio {
	/* Copied from Chumby old u-boot; this makes sure UART1 input works properly by
	 * setting SPINOR_MODE low, which allows RXD to pass through the level shifter
	 * U103 properly. The pin is labeled as !OE, so mark it as active low in the DT.
	 * This means that "output-high" will actually assert !OE (pin output value = 0)
	 */
	console_rxd_enable {
		gpio-hog;
		gpios = <109 GPIO_ACTIVE_LOW>;
		output-high;
		line-name = "rxd-level-shifter-enable";
	};
};

&sdhci3 {
	non-removable;
	no-1-8-v;
	bus-width = <4>;
	max-frequency = <24000000>;
	cap-sd-highspeed;
	status = "okay";
};

/*&twsi1 {
	status = "okay";
};

&rtc {
	status = "okay";
};*/
